<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {# <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:900,400' rel='stylesheet' type='text/css'> #}
  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="/styles.css">
  <meta name="description" content="Matt Jared | Learn to Code and Taco Enthusiast">
  <title>Matt Jared | {{ title }}</title>
</head>
<body>
  <div class="wrapper">
    <h1 class="headline"><a href="/">Matt Jared</a></h1>
    {# <hr class="css-gui-1jlveco" />
    <hr class="css-gui-1yof7am" /> #}
    <article class="css-gui-1glukg6">
      <div class="css-gui-hhkxjx"></div>
      <div class="css-gui-y6pqy8"></div>
      <div class="css-gui-9by617"></div>
      <div class="css-gui-hqruzu"></div>
      <div class="css-gui-1r8z06m"></div>
      <div class="css-gui-jgxmt0"></div>
      <div class="css-gui-1e33bb5"></div>
      <div class="css-gui-1hn9m2g"></div>
      <div class="css-gui-1r2qq4r"></div>
      <div class="css-gui-1484h9x"></div>
      <div class="css-gui-ztxlts"></div>
      <div class="css-gui-10grd5p"></div>
    </article>
    {{ content | safe }}
    <footer>
      <p>site made with code. all right's reserved {{ helpers.currentYear() }}</p>
    </footer>
  </div>
  <script src="/script.js"></script>
</body>
</html>