<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:900,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/styles.css">
  <meta name="description" content="Matt Jared | Learn to Code and Taco Enthusiast">
  <title>Matt Jared | {{ title }}</title>
</head>
<body>
  <div class="wrapper">
    <h1 class="headline"><a href="/">MATT JARED</a></h1>
    {{ content | safe }}
    <footer>
      <p>site made with code. all right's reserved {{ helpers.currentYear() }}</p>
    </footer>
  </div>
  <script src="/script.js"></script>
</body>
</html>