<footer class="text-center">
    <div class="container">Made in 2015 with <a href="http://harpjs.com" target="blank">Harp</a> and <a href="https://github.com/mattjared/mattjared.github.io" target="blank">Github</a>. No legally binding terms here.</div>
</footer>