<nav class="container">
    <div class="row">
        <div class="col-sm-3">
            <a class="lead-link" href="/">Matt Jared</a>
        </div>
        <div class="col-sm-9">
            <ul class="nav nav-pills">
                <li><a href="/backstory">Backstory</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/work">Work</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>