<div class="hero">
    <div class="row">
        <div class="col-sm-6 hero-text">
            <h1 class="display-1">Matt Jared</h1>
            <h4 class="text-light-sans">The Bill Laimbeer of JavaScript</h4>
            <p>Hello and welcome, internet user! I am a Front End Developer at <a href="http://thezebra.com">The Zebra</a> in Austin, Texas. I'm excited about the web, learning and not taking myself seriously. My interests are broad but you'll find a lot of my writing about Front End code, learning full stack development and working for startups. Let me know what I can do to help.</p>
            <a href="contact" class="btn btn-primary">Contact Me</a>
            <a href="backstory" class="btn btn-danger">Keep Reading</a>
        </div>
        <div class="col-sm-6 hero-img">
            <img src="images/mwij.png" class="img-circle img-responsive">
        </div>
    </div>
</div>
