<html>
  <head>
    <title>Matt Jared</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Alegreya:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:300,400' rel='stylesheet' type='text/css'>
    <link href="main.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div class="body-contain">
        <%- partial("_nav") %>
            <%- yield %>
        <%- partial("_footer") %>
    </div>
    <script src="scripts/script.js"></script>
  </body>
</html>