<html>
  <head>
    <title>Matt Jared</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Alegreya:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:600,300' rel='stylesheet' type='text/css'>
    <link href="../main.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div class="body-contain">
        <%- partial("_nav") %>
            <div class="container">
                <%- yield %>
            </div>
        <div class="spacer"></div>
    </div>
    <%- partial("_footer") %>
    <script src="../scripts/jquery.js"></script>
    <script src="../scripts/script.js"></script>
  </body>
</html>