<div class="container">
    <div class="col-sm-8">
        <p>This site was built in a city but not with heart and caffeine or craft beer but with Harp, Bootstrap 3 and hosted with Github. It was made in 2015 but you could be reading this in 2091. Wow. Welcome. There are no rights reserved and I won't wont your time with fake legal speak.</p>
    </div>
    <div class="col-sm-4">
        <img src="http://placehold.it/300x300"  class="img-responsive img-circle center-block" />
    </div>
</div>