<div class="container contact">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h1 class="text-center">Contact Me</h1>
            <p class="text-center">Or don't. But this is where you do that if you want to</p>
            <form action="//formspree.io/mattjared9@gmail.com" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control" placeholder="Dwight Schrute"/>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="_replyto" class="form-control" placeholder="dwight@schrutefamilyfarms.com"/>
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" name="message" rows="5" placeholder="Up to you. Client propsoal. Product ideas. Star Wars fan theories?"></textarea>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit" class="btn btn-primary btn-block" value="Send" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <h3>Social Sites</h3>
            <div class="social-links">
                <a href="https://twitter.com/matt_jared"><i class="fa fa-twitter"></i> Twitter</a>
                <a href="https://angel.co/matt_jared"><i class="fa fa-angellist"></i> AngelList</a>
                <a href="https://codepen.io/matt_jared"><i class="fa fa-codepen"></i> CodePen</a>
                <a href="https://github.com/mattjared"><i class="fa fa-github"></i> GitHub</a>
                <a href="https://instagram.com/matt_jared"><i class="fa fa-instagram"></i> Instagram</a>
                <a href="https://foursquare.com/matt_jared"><i class="fa fa-foursquare"></i> Foursquare</a>
                <a href="https://plus.google.com/u/0/+MattJared/posts"><i class="fa fa-google-plus"></i> Google+</a>
                <a href="https://medium.com/@matt_jared"><i class="fa fa-medium"></i> Medium</a>
                <a href="https://open.spotify.com/user/mattjared"><i class="fa fa-spotify"></i> Spotify</a>
                <a href="https://www.youtube.com/user/mattjared9"><i class="fa fa-youtube"></i> YouTube</a>
                <a href="https://dribbble.com/matt_jared"><i class="fa fa-dribbble"></i> Dribbble</a>
            </div>
        </div>
    </div>
</div>
