---
layout: layout.njk
title: home
---
<div>
  <p class="css-gui-3c558u">I’m a self taught software engineer who loves solving problems and delivering high impact solutions. After starting my career in marketing I taught myself to code and spent years working on engineering teams at startups and most recently at Atlassian. I've recently transitioned to Sales Engineer where I live at the  cross section between sales and software engineering.</p>
  <section class="css-gui-1jxdhg4">
    {# {% for post in collections.blog %}
      <a href="{{ post.url}}">{{ post.data.title }}</a>
    {% endfor %} #}
    <article class="css-gui-1vyjrns">
      <div class="css-gui-12ocmrp"></div>
      <h4 class="css-gui-se617d">Color Problems</h4>
      <p class="css-gui-za5pjy">
        The relation of color to light is much the same as that of music to
        sound. Color has its many hues , its long scales of tints and
        shades, its true and its false chords.
      </p>
    </article>
    <article class="css-gui-1vyjrns">
      <img
        src="https://components-ai.s3.amazonaws.com/p/h/004.jpg"
        alt="A space suit for an astronaut"
        class="css-gui-bj5kgm"
      />
      <h4 class="css-gui-se617d">Color Theories</h4>
      <p class="css-gui-za5pjy">
        The relation of color to light is much the same as that of music to
        sound. Color has its many hues , its long scales of tints and
        shades, its true and its false chords.
      </p>
    </article>
  </section>
  <blockquote class="css-gui-huzsxs">
    <p class="css-gui-12xj8cy">
      What if you stopped trying to think your way through it <br>
      <!-- -->and started to act your way through it?
    </p>
    <footer class="css-gui-sxoyg7">
      <i class="css-gui-6uezh4">James Clear</i>
    </footer>
  </blockquote>  
  <article class="label-cards">
    <div class="label-card">
      <h4 class="label-card-headline">Experience</h4>
      <div class="label-card-col">
        <div>
          <p class="label-card-item">Atlassian</p>
          <p class="label-card-item">The Zebra</p>
          <p class="label-card-item">Techstars</p>
          <p class="label-card-item">Cratejoy</p>
          <p class="label-card-item">Ohio University</p>
        </div>
      </div>
    </div>
    <div class="label-card">
      <h4 class="label-card-headline">Socials</h4>
      <div class="label-card-row">
        <div class="label-card-col">
          <p class="label-card-item"><a href="https://codepen.io/matt_jared">CodePen</a></p>
          <p class="label-card-item"><a href="https://github.com/mattjared">GitHub</a></p>
          <p class="label-card-item"><a href="https://www.linkedin.com/in/mattjared9">LinkedIn</a></p>
          <p class="label-card-item"><a href="https://dev.to/mattjared">dev.to</a></p>
          <p class="label-card-item"><a href="https://twitter.com/matt_jared">Twitter</a></p>
        </div>
        <div class="label-card-col">
          <p class="label-card-item"><a href="https://dribbble.com/matt_jared">Dribbble</a></p>
          <p class="label-card-item"><a href="https://www.npmjs.com/~mattjared">npm</a></p>
          <p class="label-card-item"><a href="https://codesandbox.io/u/mattjared">Code Sandbox</a></p>
          <p class="label-card-item"><a href="https://www.polywork.com/mattjared">Polywork</a></p>
          <p class="label-card-item"><a href="https://stackoverflow.com/users/2658883/matt-jared">Stack Overflow</a> </p> 
        </div>
      </div>
    </div>
  </article>
</div>