---
layout: layout.njk
title: The Best Eleventy Demo TM
---
<h3>Experience</h3>
<div class="list-card">
  <span>Atlassian</span>
  <span>The Zebra</span>
  <span>Techstars</span>
  <span>Cratejoy</span>
  <span>Ohio University</span>
</div>
<h3>Personal Projects</h3>
<div class="list-card">
  <a href="http://bingeboard.website">Binge Board</a>
</div>
<h3>Social Sites</h3>
<div class="list-card">
  <a href="https://codepen.io/matt_jared">CodePen</a>
  <a href="https://github.com/mattjared">GitHub</a>
  <a href="https://dribbble.com/matt_jared">Dribbble</a>
  <a href="https://www.linkedin.com/in/mattjared9">LinkedIn</a>
  <a href="https://www.npmjs.com/~mattjared">npm</a>
  <a href="https://codesandbox.io/u/mattjared">Code Sandbox</a>
  <a href="https://www.polywork.com/mattjared">Polywork</a>
  <a href="https://stackoverflow.com/users/2658883/matt-jared">Stack Overflow</a>  
  <a href="https://dev.to/mattjared">dev.to</a>
</div>
<h3>Blog Posts</h3>
<div class="list-card">
  {% for post in collections.blog %}
    <a href="{{ post.url}}">{{ post.data.title }}</a>
  {% endfor %}
</div>