a {
	transition: color .25s cubic-bezier(0.075, 0.82, 0.165, 1);
  color: #51d1b9;
  /* @apply: text */
}
a:active,
a:hover {
  transition: color .25s cubic-bezier(0.075, 0.82, 0.165, 1);
	outline:0;
	color: white;
}

.label-cards {
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  display: grid;
  margin: 64px 0px 0px 0px;
  gap: 32px;
}

.label-card {
  /* justify-content: space-between; */
  /* align-items: center; */
  box-shadow: currentcolor 0px 0px 0px 1px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.label-card-headline {
  /* margin-left: 0px; */
  /* line-height: 1.5; */
  /* font-weight: 900; */
  font-size: 24px;
  margin: 0;
}

.label-card-col {
  /* display: flex; */
  min-width: 50%;
}

.label-card-row {
  display: flex;

}

.blog-grid {
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  padding: 64px 0px 64px 0px;
  display: grid;
  gap: 32px;
}

.css-gui-1vyjrns {
  /* border-radius: 0px; */
  box-shadow: currentcolor 0px 0px 0px 1px;
  padding: 24px;
}

.blog-card {
  border-radius: 0px;
  box-shadow: currentcolor 0px 0px 0px 1px;
  padding: 24px;
  text-decoration: none;
  transition: box-shadow .25s ease-in-out;
}

.blog-card:hover {
  color: currentColor;
  box-shadow: currentColor 0px 0px 0px 1px, rgba(255, 255, 255, .3) 0px 0px 10px 2px;
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
