:root {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}
html {
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	font-size: 18px;
	font-weight: 400;
}
body{
	margin:0;
  min-height: 100vh;
  background-color: #0d2d68;
  color: #51d1b9;
}
a {
	transition: color .25s cubic-bezier(0.075, 0.82, 0.165, 1);
  color: #51d1b9;
}
a:active,
a:hover {
  transition: color .25s cubic-bezier(0.075, 0.82, 0.165, 1);
	outline:0;
	color: white;
}
.headline {
	font-size:calc(6vw);
	font-weight: 900;
	margin: 0;
  line-height: 1.25;
  /* font-size: 32px; */
  margin: 0px;
}
.headline a {
  color: #51d1b9;
	text-decoration: none;
}
.list-card * {
	padding-left: .5rem;
	padding-right: .5rem;
}
footer {
	font-size: .85rem;
	margin-top: 4rem;
}
/* .post-wrapper {
  max-width: 50vw;
} */

/* NEW SHIT */

.wrapper {
  -webkit-transition: all 400ms 0ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: all 400ms 0ms cubic-bezier(0.25, 0.1, 0.25, 1);
  min-height: 100vh;
  max-width: 54rem;
  padding: 128px 32px 128px 32px;
  margin: auto;
}

.css-gui-1jlveco {
  background-color: currentcolor;
  outline: transparent 0px none;
  height: 6px;
  border: 0px none #000000;
  color: currentcolor;
}

.css-gui-1yof7am {
  background-image: repeating-linear-gradient(45deg, currentcolor 0%, currentcolor 0.5%, transparent 0.5%, transparent 1.5%);
  height: 96px;
  border: 0px none #000000;
  color: currentcolor;
  margin-bottom: 2.5rem;
}

.css-gui-huzsxs {
  padding-left: 32px;
  margin-left: 0px;
  border-left: 6px solid currentcolor;
  width: 100%;
}

.css-gui-12xj8cy {
  line-height: 1.25;
  font-weight: 900;
  font-size: 32px;
  margin: 0px 0px 16px 0px;
}

.label-card-item {
  line-height: 1;
  /* margin-bottom: .75rem; */
}

.css-gui-6uezh4 {
  font-style: normal;
  font-size: 20px;
  opacity: 80%;
}

.css-gui-3c558u {
  max-width: 80ch;
  font-size: 20px;
}

.css-gui-17q6q0l {
  display: block;
  margin: 0px 0px 8px 0px;
}

.css-gui-1hjpo9z {
  font-size: 0.875em;
  display: block;
  margin: 0px 0px 4px 0px;
}

.css-gui-1pnv7m4 {
  box-shadow: currentcolor 0px 0px 0px 1px;
}

.css-gui-1472hh4 {
  background-color: currentcolor;
  height: 24px;
  width: 32%;
  color: currentcolor;
}

.css-gui-1lyzcee {
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  display: grid;
  gap: 32px;
}

.css-gui-1a497rm {
  background-color: transparent;
  -webkit-transition: all 350ms 0ms cubic-bezier(0, 0, 1, 1);
  transition: all 350ms 0ms cubic-bezier(0, 0, 1, 1);
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  box-shadow: currentcolor 0px 0px 0px 1px;
  padding: 8px;
  border: 0px none currentcolor;
  width: 100%;
  color: inherit;
}

.css-gui-1a497rm:focus-visible {
  box-shadow: currentcolor 0px 0px 0px 2px;
}

.css-gui-1a497rm:focus-within {
  box-shadow: currentcolor 0px 0px 0px 2px;
  outline: transparent 0px none;
}

.css-gui-1a497rm:focus {
  box-shadow: currentcolor 0px 0px 0px 2px;
}

.css-gui-19uxns1 {
  padding: 32px 0px 32px 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.css-gui-f25nad {
  background-color: currentcolor;
  border-radius: 9999px;
  height: 24px;
  width: 24px;
}

.css-gui-1w24ws1 {
  background-color: transparent;
  border-radius: 9999px;
  box-shadow: inset currentcolor 0px 0px 0px 1px;
  height: 24px;
  width: 24px;
}

.css-gui-1i05ts1 {
  background-image: linear-gradient(0deg, transparent 50%, currentcolor 50%);
  background-color: transparent;
  border-radius: 9999px;
  box-shadow: inset currentcolor 0px 0px 0px 1px;
  height: 24px;
  width: 24px;
}

.css-gui-1s9j613 {
  background-image: linear-gradient(-45deg, transparent 50%, currentcolor 50%);
  background-color: transparent;
  border-radius: 9999px;
  box-shadow: inset currentcolor 0px 0px 0px 1px;
  height: 24px;
  width: 24px;
}

.css-gui-1uxzow6 {
  background-image: linear-gradient(-90deg, transparent 50%, currentcolor 50%);
  background-color: transparent;
  border-radius: 9999px;
  box-shadow: inset currentcolor 0px 0px 0px 1px;
  height: 24px;
  width: 24px;
}

.css-gui-1r7p0sr {
  background-image: linear-gradient(-135deg, transparent 50%, currentcolor 50%);
  background-color: transparent;
  border-radius: 9999px;
  box-shadow: inset currentcolor 0px 0px 0px 1px;
  height: 24px;
  width: 24px;
}

.css-gui-62afuz {
  background-image: linear-gradient(-180deg, transparent 50%, currentcolor 50%);
  background-color: transparent;
  border-radius: 9999px;
  box-shadow: inset currentcolor 0px 0px 0px 1px;
  height: 24px;
  width: 24px;
}

.css-gui-1lw41ww {
  background-image: linear-gradient(-225deg, transparent 50%, currentcolor 50%);
  background-color: transparent;
  border-radius: 9999px;
  box-shadow: inset currentcolor 0px 0px 0px 1px;
  height: 24px;
  width: 24px;
}

.css-gui-lyflu3 {
  background-image: linear-gradient(-270deg, transparent 50%, currentcolor 50%);
  background-color: transparent;
  border-radius: 9999px;
  box-shadow: inset currentcolor 0px 0px 0px 1px;
  height: 24px;
  width: 24px;
}

.css-gui-o2ie5z {
  background-image: linear-gradient(-315deg, transparent 50%, currentcolor 50%);
  background-color: transparent;
  border-radius: 9999px;
  box-shadow: inset currentcolor 0px 0px 0px 1px;
  height: 24px;
  width: 24px;
}

.css-gui-1vhbzu9 {
  border-radius: 9999px;
  box-shadow: currentcolor 0px 0px 0px 1px;
  font-size: 0.75em;
  padding: 4px 16px 4px 16px;
}

.css-gui-1glukg6 {
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  gap: 1px;
  margin-bottom: 3rem;
}

.css-gui-hhkxjx {
  background-color: currentcolor;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  opacity: 100%;
  height: 100%;
  color: currentcolor;
}

.css-gui-y6pqy8 {
  background-color: currentcolor;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  opacity: 90%;
  height: 100%;
  color: currentcolor;
}

.css-gui-9by617 {
  background-color: currentcolor;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  opacity: 80%;
  height: 100%;
  color: currentcolor;
}

.css-gui-hqruzu {
  background-color: currentcolor;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  opacity: 70%;
  height: 100%;
  color: currentcolor;
}

.css-gui-1r8z06m {
  background-color: currentcolor;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  opacity: 60%;
  height: 100%;
  color: currentcolor;
}

.css-gui-jgxmt0 {
  background-color: currentcolor;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  opacity: 50%;
  height: 100%;
  color: currentcolor;
}

.css-gui-1e33bb5 {
  background-color: currentcolor;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  opacity: 40%;
  height: 100%;
  color: currentcolor;
}

.css-gui-1hn9m2g {
  background-color: currentcolor;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  opacity: 30%;
  height: 100%;
  color: currentcolor;
}

.css-gui-1r2qq4r {
  background-color: currentcolor;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  opacity: 20%;
  height: 100%;
  color: currentcolor;
}

.css-gui-1484h9x {
  background-color: currentcolor;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  opacity: 10%;
  height: 100%;
  color: currentcolor;
}

.css-gui-ztxlts {
  background-color: currentcolor;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  opacity: 5%;
  height: 100%;
  color: currentcolor;
}

.css-gui-10grd5p {
  background-color: currentcolor;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  opacity: 2.5%;
  height: 100%;
  color: currentcolor;
}

.label-cards {
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  display: grid;
  margin: 64px 0px 0px 0px;
  gap: 32px;
}

.label-card {
  /* justify-content: space-between; */
  /* align-items: center; */
  box-shadow: currentcolor 0px 0px 0px 1px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.label-card-headline {
  /* margin-left: 0px; */
  /* line-height: 1.5; */
  /* font-weight: 900; */
  font-size: 24px;
  margin: 0;
}

.label-card-col {
  /* display: flex; */
  min-width: 50%;
}

.label-card-row {
  display: flex;

}

.css-gui-1x40jq {
  opacity: 80%;
}

.css-gui-161r4vq {
  stroke-width: 2px;
  stroke: currentcolor;
  fill: transparent;
}

.css-gui-1ucs75j {
  -webkit-transform: rotate(180deg) rotateY(180deg);
  -moz-transform: rotate(180deg) rotateY(180deg);
  -ms-transform: rotate(180deg) rotateY(180deg);
  transform: rotate(180deg) rotateY(180deg);
  opacity: 80%;
}

.css-gui-1jxdhg4 {
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  padding: 64px 0px 64px 0px;
  display: grid;
  gap: 32px;
}

.css-gui-1vyjrns {
  border-radius: 0px;
  box-shadow: currentcolor 0px 0px 0px 1px;
  padding: 24px;
}

.blog-card {
  border-radius: 0px;
  box-shadow: currentcolor 0px 0px 0px 1px;
  padding: 24px;
  text-decoration: none;
  transition: box-shadow .25s ease-in-out;
}

.blog-card:hover {
  color: currentColor;
  box-shadow: currentColor 0px 0px 0px 1px, rgba(255, 255, 255, .3) 0px 0px 10px 2px;
}

.css-gui-12ocmrp {
  background-image: linear-gradient(38deg, currentcolor 0%, transparent 110%);
  aspect-ratio: 6/4;
  display: block;
  width: 100%;
}

.css-gui-se617d {
  text-align: left;
  font-size: 24px;
  margin: 16px 0px 0px 0px;
}

.css-gui-za5pjy {
  line-height: 1.5;
  max-width: 80ch;
  margin: 0px;
}

.css-gui-bj5kgm {
  display: block;
  width: 100%;
}

/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */
