.contact {
  margin-top: 40px;
}
.social-links {
  margin-bottom: $line-height-computed * 2;
}
.social-links a {
  display: block;
  color: $brand-danger;
  font-size: $font-size-h4;
  margin-bottom: $line-height-computed / 2;
  &:hover {
    text-decoration: none;
    color: darken($brand-danger, 10%);
  }
}